CompileFlags:
  Add: [ "-Wall", "-Wextra", "-Wpedantic" ]
  Remove: ["--no-gnu-unique", "-fimplicit-constexpr"]
Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader: [ "nlohmann/json_fwd.hpp", ".*\\.pb.h", "vulkan/vulkan_.*.h" ]
